.settings
.project

account-service/.settings
account-service/target
account-service/.classpath
account-service/.factorypath
account-service/.project

api-gateway/.settings
api-gateway/target
api-gateway/.classpath
api-gateway/.factorypath
api-gateway/.project

auth-service/.settings
auth-service/target
auth-service/.classpath
auth-service/.factorypath
auth-service/.project

contact-service/.settings
contact-service/target
contact-service/.classpath
contact-service/.factorypath
contact-service/.project

deal-service/.settings
deal-service/target
deal-service/.classpath
deal-service/.factorypath
deal-service/.project

discovery-server/.settings
discovery-server/target
discovery-server/.classpath
discovery-server/.factorypath
discovery-server/.project

lead-service/.settings
lead-service/target
lead-service/.classpath
lead-service/.factorypath
lead-service/.project

meeting-service/.settings
meeting-service/target
meeting-service/.classpath
meeting-service/.factorypath
meeting-service/.project

task-service/.settings
task-service/target
task-service/.classpath
task-service/.factorypath
task-service/.project
